:root {
    /* COLORS */
    --color-primary: #ee5057;
    --color-secondary: #111;
    --color-text: #898989;

    /* FONTS */
    --font-primary: 'Open Sans', Helvetica, Arial, sans-serif;
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px;
    --font-size-title: 20px;
    --font-size-section-title: 48px;

    /* SIZE */
    --size-primary: 25px;
    --size-half: calc(var(--size-primary) / 2);
    --size-double: calc(var(--size-primary) * 2);
    --margin-primary: var(--size-primary);
    --padding-primary: var(--size-primary);
    --padding-half: var(--size-half);
    --padding-double: var(--size-double);
    --height-primary: 120px;

    /* BREAKPOINTS */
    --md: 768px;
}

@media (min-width: 768px) {
    .navbar {
        height: var(--height-primary);
    }

    .navbar .navbar-nav .level-nav-link.nav-link {
        padding: var(--padding-double) var(--padding-primary);
    }
}

.navbar .navbar-nav .level-nav-link.nav-link {
    padding-right: var(--padding-primary);
    padding-left: var(--padding-primary);
}

.navbar .navbar-nav .level-nav-link.nav-link:hover {
    background-color: var(--color-primary);
    color: white;
}

.hero {
    background: url('../images/bg-img-1.jpg') no-repeat center center;
    height: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-half);
    padding: var(--padding-double) var(--padding-primary);
}

.form-group {
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
}

.form-group .form-control {
    padding-left: var(--padding-double);
    border-radius: 0;
}

.form-group i {
    position: absolute;
    font-size: var(--font-size-title);
    color: var(--color-primary);
    left: var(--size-half);
}

.btn-primary {
    background-color: var(--color-primary);
    border-radius: 0;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: var(--font-bold);
}

.btn-primary:hover {
    background-color: #c3343d;
}

.need-help {
    background-color: white;
    padding: 0 var(--padding-double) var(--padding-half);
    font-size: .8rem;
}

section {
    padding: var(--padding-double) 0;
    position: relative;
}

.section-color {
    background-color: var(--color-primary);
    color: white;
}

.section-title {font-size: var(--font-size-section-title);}
.section-subtitle {font-size: var(--font-size-title);}

.btn-white {
    border: 2px solid white;
    background-color: inherit;
    color: white;
    padding: var(--padding-half) var(--padding-primary);
}

.btn-white:hover {
    background-color: white;
    color: var(--color-primary);
}

/* SERVICES */
.section-down-arrow {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height-primary);
}
